[submodule "roles/fastd-exit"]
	path = roles/fastd-exit
	url = https://github.com/yanosz/fastd-exit.git
[submodule "roles/tap-router-exit"]
	path = roles/tap-router-exit
	url = https://github.com/yanosz/tap-router-exit.git
