#INTERFACE    SOURCE         ADDRESS 
INLINE(eth2)  {{ masq_range }}      {{ network_ipv4_main }} ;  -m statistic --mode random --probability 0.50
eth2          {{ masq_range }}      {{ network_ipv4_add }}

